@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #5e9dfcff;
    --light: #ffffffa2;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: white;
    scrollbar-width: none;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 100%;
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    padding: 10px;
    margin: 0px 250px;
}

.container-items {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.button-container {
    display: flex;
    gap: 10px;
}

.button {
    margin-top: 20px;
    line-height: normal;
    padding: 5px 8px;
    border-radius: 10px;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    text-align: center;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--primary);
    color: var(--light);
    transform: scale(1.1);
}

h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--light);
}

span {
    color: var(--primary);
}

a {
    text-decoration: none;
}

.discord-embed {
    display: flex;
    padding: 8px;
    border-radius: 0.75rem;
    gap: 8px;
    margin: 5px 0px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px;
    line-height: 0;
    border: 2px solid var(--primary);
    transition: all 0.2s ease-in-out;
}

.discord-embed:hover {
    box-shadow: 0px 9px 30px rgba(95, 64, 229, 0.1);
}

.discord-embed img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid var(--primary);
}

.discord-embed h1 {
    font-size: .875rem;
    font-weight: 700;
}

#serverName {
    margin-top: 10px;
}

.online {
    font-size: 8px;
    color: rgb(117, 177, 117);
}

.offline {
    font-size: 8px;
    color: rgb(128, 132, 142);
}

@media only screen and (max-width: 768px) {
    .container {
        margin: 0px;
        flex-direction: column;
    }

    .container-items {
        line-height: 30px;
        margin-top: 20px;
    }
}